<div class="modal" id="add_question">
        <div class="modal_dialog">
            <div class="modal_head">
                <h3 class="center">ОГЛАВЛЕНИЕ</h3>
            </div>
            <div class="modal_body">
                <form method="post" action="/reda/">
                    <input type="hidden" name="form_add_question" value="form_add_question">
                    <div class="input"><input type="text" placeholder="Вопрос" name="question"></div>
                    <p></p>
                    <div class="input"><input type="text" placeholder="Первый ответ" name="answer1"></div>
                    <p></p>
                    <div class="input"><input type="text" placeholder="Второй ответ" name="answer2"></div>
                    <p></p>
                    <div class="input"><input type="text" placeholder="Третий ответ" name="answer3"></div>
                    <p></p>
                    <div class="input"><input type="text" placeholder="Правильный ответ" name="answer_r"></div>
                    <p></p>
                    <div class="center send_res">
                        <input type="submit">
                    </div>
                </form>
            </div>
            <a href="#" class="modal_close center">x</a>
        </div>
    </div>