{% extends 'main.html' %}

{% block content %}
{%if values%}
    <form id="edit_question" method="post" action="/reda/">
            <div class="input_row">
                <input type="hidden" name="form_edit_question" value="form_edit_question">
                <div><input class ='input_question' type="text" value="{{values.id}}" name="edit_question_id" readonly></div>
                <div><input class ='input_question' type="text" value="{{values.quest}}" name="edit_question"></div>
                <div><input class ='input_question' type="text" value="{{values.answer1}}" name="edit_answer1"></div>
                <div><input class ='input_question' type="text" value="{{values.answer2}}" name="edit_answer2"></div>
                <div><input class ='input_question' type="text" value="{{values.answer3}}" name="edit_answer3"></div>
                <div><input class ='input_question' type="text" value="{{values.answer_r}}" name="edit_answer_r"></div>
            </div>

        <div class="send_but">
            <input type="submit" class="test_send_button">
        </div>

    </form>
{% endif %}
{% endblock %}